{% extends 'shop/basic.html' %}
{% block title %} Shop Festo {% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{%static 'shop/css/index.css' %}">``
{% endblock %}
{% block body %}
<!-- Slide1 -->
<section class="slide1">
    <div class="wrap-slick1">
        <div class="slick1">
            {% for i in prodheaders %}
            <div class="item-slick1 item{{i.header_id}}-slick1" style='background-image: url("{{i.image.url}}");'>
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
                        {{i.header_name}}
                    </span>
                    <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                        {{i.subcategory}}
                    </h2>
                    <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
                        <a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                            Shop Now
                        </a>
                        <!-- <button id="pr5{{i.header_id}}" style="width: 150px;" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 p-2 cart">Shop Now</button> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>
<!-- Banner -->
<section class="banner bgwhite p-t-40 p-b-1">
    <div class="container">
        <div class="row">
            {% for i in category|slice:"0:2" %}

            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="/media/{{i.image_1}}" alt="IMG-BENNER">
                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                            <b>{{i.category_1}}</b>
                        </a>
                    </div>
                </div>
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="/media/{{i.image_2}}" alt="IMG-BENNER">
                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                            <b>{{i.category_2}}</b>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="{%static 'shop/images/Category_images/refurbished.jpg' %}" alt="IMG-BENNER">
                    <div class="block1-wrapbtn w-size2">
                        <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                            Refurbished
                        </a>
                    </div>
                </div>
                <div class="block2 wrap-pic-w pos-relative m-b-30">
                    <img src="{%static 'shop/images/icons/bg-01.jpg' %}" alt="IMG">
                    <div class="block2-content sizefull ab-t-l flex-col-c-m">
                        <h4 class="m-text4 t-center w-size3 p-b-8">
                            Sign up & get 20% off
                        </h4>
                        <p class="t-center w-size4">
                            Be the frist to know about the latest fashion news and get exclu-sive offers
                        </p>
                        <div class="w-size2 p-t-25">
                            <a href="/register" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="{%static 'shop/images/Category_images/exchange.jpg' %}" height="210px" alt="IMG-BENNER">
                    <div class="block1-wrapbtn w-size2">
                        <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                            Exchange
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- New Product -->
<!-- <section class=""> -->
<section>
    <div class="container">
        <!--Slideshow starts here -->
        {% for product, range, nSlides in allProds %}
        <h3 id="category">{{product.0.category}}</h3>
        <div class="row">
            <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
                    {% for i in range %}
                    <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        {% for i in product %}
                        <div class="col-xs-3 col-sm-6 col-lg-3 col-md-6">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="{{i.image.url}}" class="img-responsive img-fluid" alt="">
                                </div>
                                <div class="thumb-content">
                                    <a href="/shop/products/{{i.product_id}}">
                                        <h4 id="namepr{{i.product_id}}">{{i.product_name|slice:"0:32"}} ...</h4>
                                    </a>
                                    <p class="item-price"><strike>₹{{i.old_price}}</strike> ₹<span id="pricepr{{i.product_id}}">{{i.new_price}}</span></p>
                                    <div class="star-rating">
                                        <ul class="list-inline">
                                            {% if i.rating == 0 %}
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="far fa-star"></i></li>
                                            <li class="list-inline-item"><i class="far fa-star"></i></li>
                                            {% elif i.rating == 3 %}
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="far fa-star"></i></li>
                                            <li class="list-inline-item"><i class="far fa-star"></i></li>
                                            {% elif i.rating == 3.5 %}
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fas fa-star-half-alt"></i></li>
                                            <li class="list-inline-item"><i class="far fa-star"></i></li>
                                            {% elif i.rating == 4 %}
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="far fa-star"></i></li>
                                            {% elif i.rating == 4.5 %}
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fas fa-star-half-alt"></i></li>
                                            <li class="list-inline-item"><i class="far fa-star"></i></li>
                                            {% else %}
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <span id="divpr{{i.product_id}}" class="divpr">
                                        <button id="pr{{i.product_id}}" style="width: 150px;" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 py-2 mx-4 my-2 cart">Add to Cart</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                    </div>
                    <div class="item carousel-item">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <a class="carousel-control left carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<section class="banner bgwhite p-t-60 p-b-40">
    <div class="container">
        <div class="row">
            {% for i in category|slice:"2:5" %}

            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="/media/{{i.image_1}}" alt="IMG-BENNER">
                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                            <b>{{i.category_1}}</b>
                        </a>
                    </div>
                </div>
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="/media/{{i.image_2}}" alt="IMG-BENNER">
                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a href="#" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                            <b>{{i.category_2}}</b>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Banner2 -->
<section class="banner2 bg5 p-t-55 p-b-55">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
                <div class="hov-img-zoom pos-relative">
                    <img src="{% static 'shop/images/great_access_carnival.jpg' %}"  alt="IMG-BANNER">
                    <div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
                        <span class="m-text9 p-t-45 fs-20-sm">
                            Great Accessory Carnival
                        </span>
                        <h3 class="l-text1 fs-35-sm">
                            Starting ₹199
                        </h3>
                        <a href="/shop/sale" class="s-text4 hov2 p-t-20 ">
                            Go to Sale
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
                <div class="bgwhite hov-img-zoom pos-relative p-b-20per-ssm">
                    <img src="{% static 'shop/images/great_deal_mi_tv.jpg' %}" alt="IMG-BANNER">
                    <div class="ab-t-l sizefull flex-col-c-b p-l-15 p-r-15 p-b-20">
                        <div class="flex-c-m p-t-44 p-t-30-xl">
                            <div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
                                <span class="m-text10 p-b-1 days">
                                    69
                                </span>
                                <span class="s-text5">
                                    days
                                </span>
                            </div>
                            <div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
                                <span class="m-text10 p-b-1 hours">
                                    04
                                </span>
                                <span class="s-text5">
                                    hrs
                                </span>
                            </div>
                            <div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
                                <span class="m-text10 p-b-1 minutes">
                                    32
                                </span>
                                <span class="s-text5">
                                    mins
                                </span>
                            </div>
                            <div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
                                <span class="m-text10 p-b-1 seconds">
                                    05
                                </span>
                                <span class="s-text5">
                                    secs
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog -->
<!-- Instagram -->
<!-- Shipping -->
<section class="shipping bgwhite p-t-62 p-b-46">
    <div class="flex-w p-l-15 p-r-15">
        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
            <h4 class="m-text12 t-center">
                Free Delivery Worldwide
            </h4>
            <a href="#" class="s-text11 t-center">
                Click here for more info
            </a>
        </div>
        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
            <h4 class="m-text12 t-center">
                30 Days Return
            </h4>
            <span class="s-text11 t-center">
                Simply return it within 30 days for an exchange.
            </span>
        </div>
        <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
            <h4 class="m-text12 t-center">
                Store Opening
            </h4>
            <span class="s-text11 t-center">
                Shop open from Monday to Sunday
            </span>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{%static 'shop/js/index.js' %}"></script>
{% endblock %}